
<div class="container-fluid" ng-init="getRecords()">  
 <div class="row">
      <h3 ng-hide="users.length" class="text-center"> No More Users... </h3>
   <div class="col-sm-12"  ng-repeat="user in users | orderBy:'-created' | filter: {first_name: sname} | startFrom:currentPage*pageSize | limitTo:pageSize">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>{{user.first_name}}</h4> 
         <span>
        <i class="fa fa-trash pull-right" ng-click="deleteUser(user)" aria-hidden="true"></i> 
        <i class="fa fa-pencil pull-right" href="javascript:void(0)" data-toggle="modal" data-target="#myModal" ng-click="editUser(user)" aria-hidden="true"></i>
        </span>
 </div>
        <div class="panel-body">
         <div class="row">
           <div class="col-md-2">
            <img src="app/assets/image/{{user.gender}}.png"  class="img-responsive"   alt="Image">
           
           </div>
           <div class="col-md-10"> <p>{{user.employee_location}} </p> <p> {{user.employee_position}} </p></div>
         </div>
   </div>
        
      </div>
    </div>
  </div>
  <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title text-center">ADD EMPLOYEE</h4>
      </div>

    
      <form class="form" name="userForm">
      <div class="modal-body">
      <div class="alert alert-danger none"><p></p></div>
       <div class="alert alert-success none"><p></p></div>
         <table border="1">
        <tr>
            <td> Employee Id * </td>
            <td><input type="text"  name="employee_id" ng-model="tempUserData.employee_id"  required/>
             <span ng-show="userForm.employee_id.$touched && userForm.employee_id.$invalid" class="help-block"> Employee id is required.</span>
            </td>
        </tr>
        <tr>
            <td> First Name * </td>
            <td> <input type="text" name="first_name" ng-model="tempUserData.first_name"  capitalize-first required/>
            <span ng-show="userForm.first_name.$touched && userForm.first_name.$invalid" class="help-block"> First Name is required.</span></td>
        </tr>
         <tr>
            <td> Last Name * </td>
            <td> <input type="text"  name="last_name" ng-model="tempUserData.last_name"  capitalize-first required/>
            <span ng-show="userForm.last_name.$touched && userForm.last_name.$invalid" class="help-block"> Last Name is required.</span></td>
        </tr>
        <tr>
            <td> Employee Location * </td>
            <td> <input type="text"  name="employee_location" ng-model="tempUserData.employee_location"  capitalize-first required/><span ng-show="userForm.employee_location.$touched && userForm.employee_location.$invalid" class="help-block"> Employee Location is required.</span></td>
        </tr>
        <tr>
            <td> Employee Position * </td>
            <td> <input type="text"  name="employee_position" ng-model="tempUserData.employee_position" capitalize-first required/><span ng-show="userForm.employee_position.$touched && userForm.employee_position.$invalid" class="help-block"> Employee Position is required.</span></td>
        </tr>
         <tr>
            <td> Employee Gender * </td>
            <td>  <label class="radio-inline">
      <input type="radio" name="gender" value="0" checked  ng-model="tempUserData.gender" checked> Male
    </label>
    <label class="radio-inline">
      <input type="radio" name="gender" value="1"  ng-model="tempUserData.gender"> Female
    </label></td>
        </tr>
       
        </table>
        
       
       
      </div>

        <div class="modal-footer">
        <button type="submit" class="btn btn-default save-btn btn-lg text-center" ng-hide="tempUserData.id" ng-click="addUser()"> Save </button>
        <button type="submit" class="btn btn-default save-btn btn-lg text-center"  ng-hide="!tempUserData.id" ng-click="updateUser()"> Update </button>
        <br/>
      </div>
       </form>
      
    </div>

  </div>
</div>

Show only <select ng-model="pageSize"  id="pageSize" class="form-control" ng-options="x for x in num" style="width:100px;">
</select>

  </div>