<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Angular Js Assignment</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="app/assets/css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<script src = "app/app.js"></script>
<script src = "app/controller/userController.js"></script>
<script src = "app/directives/userDirectives.js"></script>
<script src = "app/services/userServices.js"></script>
<script src = "app/filter/userFilter.js"></script>
</head>
<body  ng-app="crudApp" ng-controller="userController">
<header class="container-fluid">
 <h4>Employee Management</h4>
 <button type="button" class="btn btn-default home-btn btn-lg"> Home </button>
</header>

<nav class="navbar">
  <div class="container-fluid">
  <div class="alert alert-danger none"><p></p></div>
       <div class="alert alert-success none"><p></p></div>
  <h4>Employee</h4>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
     
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ng-click="activeMenuFun('card')" ng-class="{active : activeMenu === 'card'}"><a href="#/"> <i class="fa fa-th-large" aria-hidden="true"></i> Card View </a></li>
        <li ng-click="activeMenuFun('list')" ng-class="{active : activeMenu === 'list'}"><a href="#/list"> <i class="fa fa-list" aria-hidden="true"></i> List View </a></li>
        <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus" aria-hidden="true"></i> Add New </a></li>
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><strong>Filter </strong> &nbsp;&nbsp;&nbsp;&nbsp;</li><li> <input type="text" ng-model="sname"></li>
      </ul>
    </div>
  
  </div>
</nav>

<div ng-view></div>

<br/>
<br/>
<br/>
</body>
</html>
