
    /* Add a gray background color and some padding to the header */
    header {
      background-color: #f2f2f2;
      padding: 15px;
      margin-bottom:25px;
    }
    header h4, .panel-heading h4 {
    display:inline-block;
    }
    .home-btn, .save-btn {
     border-radius:0px;
     padding: 2px 16px;
     margin-left:10%;
    }
    .home-btn {
     background-color: #f2f2f2;
    }
    .save-btn {
    	background-color: grey;
    	color:#fff;
    }

    .panel-heading .fa {
    color: #ccc;
    font-size: 1.7em;
    margin-top:10px;
    }
    .navbar-collapse {
    	padding-right: 0px;
    	padding-left: 0px;
    }
    .nav li.active a {
    	background-color: #eee;
    	text-decoration: none;
    }
     .nav li a {
    	color:#000;
    }
    .navbar-nav > li > a {
    	padding-bottom: 5px;
    	padding-top: 5px;
    }
    .navbar-right {
    	margin-right:50px;
    }
    .modal {
  top: 120px;
   
}

.modal-dialog {
	width:400px;
}
.modal-content {
    box-shadow: none;
    background-color: #ddd;
    border: 9px solid #ccc;
    border-radius: 0;
}
.modal-header {
	border-bottom:none;
}
.modal-body {
	padding:0px;
}
.modal-footer {
	text-align: center;
}
th, td { padding: 5px; }
table {
	margin: 0 auto;
	width:100%;
	background-color: #fff;
	border:1px solid #ddd;
}
td input, input {
	width:100%;
}
    /* required style*/ 
.none{display: none;}
